/* Resetear estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
}

/* Estilos del encabezado */
header {
    background: #333;
    color: #fff;
    padding-top: 20px;
    overflow: hidden;
}

header h1 {
    float: left;
    padding: 20px;
}

nav ul {
    float: right;
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

/* Estilos del pie de página */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos del contenido principal */
main {
    padding: 20px;
}

section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

section h2 {
    color: #333;
    margin-bottom: 10px;
}

section p {
    color: #555;
}
